<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.CSSView</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Status">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="#FFFFFF" stroke-width="1.5" fill="transparent" points="8,2 1,13 15,13" stroke-linejoin="round"></polygon>
                    <line stroke="#FFFFFF" stroke-width="1.5" x1="8" y1="6" x2="8" y2="9" stroke-linejoin="round" stroke-linecap="round"></line>
                    <line stroke="#FFFFFF" stroke-width="1.5" x1="8" y1="11" x2="8" y2="11" stroke-linejoin="round" stroke-linecap="round"></line>
                </svg> API Coverage Status
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
